
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add Forum</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{hbs.host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<header>
			<h1>Add Forum</h1>
		</header>
		<main>

		<form action="/addtopic" enctype="multipart/form-data" method="post">
			<p>
				<label for="topicName">Name of forum</label><br />
				<input type="text" name="topicName" placeholder="Your forum name" value="{{body.name}}">
			</p>
			<p>
				<label for="topicSummary">Summary of forum</label><br/>
				<textarea rows="5" cols="30" name="topicSummary" maxlength="100" placeholder="Enter your summary" value="{{body.summary}}">
					
				</textarea>
			</p>
			<p>
				<label for="topicDescription">Description</label><br />
				<textarea id="topicDescription" name="topicDescription" rows="10" cols="30" value="{{body.description}}">
					
				</textarea>
			</p>
			<p>
				<label for="topicAvatar">Image/Avatar</label><br />
				<input type="file" name="topicAvatar" value="{{body.avatar}}">
			</p>

			<p><input type="submit" value="Submit"></p>
		</form>

		<p>This site is only for logged users</p>
		<p><a href="/">Main Page</a></p>
		</main>
	</body>
</html>
