
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Main page of chat forum</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{hbs.host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
		<script src="example.js"></script>
	</head>
	<body>
		<header>
			<h1>Main page</h1>
			{{#if authorised}}
				<a href="/logout">Logout</a>
			{{else}}
				<a href="/login">Login</a>
				<a href="/register">Register</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		{{#if authorised}}
			<p>New Forum</p>
			<a href="/addtopic">Go to add forum</a>
		{{/if}}
		<p>
			<table style="width:100%" border="1px">
				<tr>
					<th>Forum name</th>
					<th>Avatar miniature</th>
					<th>Short summary</th>
					<th>Date of last post</th>
					<th>Reference</th>
				</tr>
				{{#each topics}}
					<tr>
						<td>{{name}}</td>
						<td align="center"><img src="{{miniature_path}}" width="40" height="40"></td>
						<td>{{summary}}</td>
						<td>{{lastPostDate}}</td>
						<td>
							{{id}}
							<form action="/showtopic" enctype="multipart/form-data" method="post">
								<input type="hidden" name="topicID" value="{{id}}">
								<input type="submit" value="Show Forum">
							</form>
						</td>
					</tr>
				{{/each}}
			</table>
		</p>
	</main>
	</body>
</html>
